@mixin buttonsType($color) {
  border-color: $color;
  background-color: $color;

  &:disabled {
    color: $color;
  }

  &:focus {
    box-shadow: 0 0 5px $color;
  }
}

@mixin screenSize($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
