.service {
  width: 16rem;
  min-height: 10rem;
  margin: 0.5rem auto;
  padding: 0.8rem 1.5rem;
  box-shadow: 0 0 56px -8px rgba(0, 0, 0, 0.17);

  i {
    font-size: 1.76rem;
  }

  .service-desc {
    margin-top: 0.5rem;

    h4 {
      font-size: 0.89rem;
      font-weight: 700;
    }

    p {
      color: #555;
      font-size: 12px;
    }
  }
}
